@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap");

:root {
  --white: #fff;
  --orange-background: #fff7f4;
  --orange: #ff5300;
  --black: #373737;
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

section {
  background: var(--Orange-background);
  width: auto;
  height: 850px;
  flex-shrink: 0;
}
.header {
  width: auto;
}

.header .logo {
  color: var(--orange);
  font-family: Work Sans;
  font-size: 39.06px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 175.186px;
  height: 46.939px;
}
.header .logo span {
  color: var(--black);
}
.header .navbar a {
  color: var(--black);
  margin: 14.5px;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.header .navbar a:hover {
  color: var(--orange);
}

.talk-btn {
  display: flex;
  padding: 10px 22px;
  margin: 0 50px;
  font-size: 20px;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid var(--black);
  color: var(--black);
}

#menu-btn {
  font-size: 25px;
  color: var(--black);
  cursor: pointer;
  display: none;
}

/* home section start  */

.home .link-btn {
  display: flex;
  padding: 10px 22px;
  align-items: flex-start;
  color: var(--white);
  gap: 10px;
  width: 182px;
  height: 50px;
  border-radius: 5px;
  background: var(--orange);
  line-height: 30px;
}
.home img {
  display: flex;
  width: 553.028px;
  height: 470.913px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.content {
  display: flex;
  flex-direction: column;
}
.content h1 {
  font-size: 48.83px;
  font-style: normal;
  font-weight: 700;
  line-height: 73.2px;
  width: 602px;
}
.content h6 {
  color: var(--Paragraph);
  width: 586px;
  height: 76px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* media queries  991px*/

@media (max-width: 991px) {
  .header .navbar a {
    font-size: 13px;
  }
  .talk-btn {
    font-size: 13px;
    padding: 4px 15px;
    display: none;
  }

  .header .logo {
    font-size: 30.06px;
  }

  .home .link-btn {
    padding: 6px 15px;
  }
  .home .link-btn:hover {
    box-shadow: 4px 5px 15px 0px rgba(255, 83, 0, 0.4);
  }
  .content h1 {
    font-size: 31.25px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.6%;
  }
  section {
    padding: 4rem 0;
    background: var(--Orange-background);
  }
}

/* media queries 768  */

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    transition: 0.2s linear;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar {
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    background-color: var(--Orange-background);
    border-top: var(--Border);
    border-bottom: var(--Border);
    text-align: center;
    flex-flow: column;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
  }

  .header .navbar a {
    margin: 5px;
    font-size: 15px;
  }
  section {
    padding: 2rem 0;
    background: var(--Orange-background);
  }
}

/* media queries 450px */
@media (max-width: 450px) {
  .header .navbar a {
    font-size: 13px;
  }
  .talk-btn {
    font-size: 13px;
    padding: 4px 15px;
    display: none;
  }

  .header .logo {
    font-size: 30.06px;
  }
}
