@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap");

:root {
  --white: #fff;
  --orange-background: #fff7f4;
  --orange: #ff5300;
  --black: #373737;
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --test: #63adc8;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

.header {
  width: 1440px;
  height: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--orange-background);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 30px;
}

.navbar a {
  color: var(--black);
  margin: 14.5px;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.navbar a:hover {
  color: var(--orange);
}

.nav-btn {
  display: inline-flex;
  align-items: flex-start;
}

.talk-btn {
  display: flex;
  padding: 10px 22px;
  margin: 0 50px;
  font-size: 20px;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid var(--black);
}
.talk-btn a {
  color: var(--black);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

/* home section start  */
.home {
  width: 1440px;
  height: 800px;
  flex-shrink: 0;
}
.home .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: column;
}
.content h1 {
  font-size: 48.83px;
  font-style: normal;
  font-weight: 700;
  line-height: 73.2px;
  margin-top: 288px;
  width: 602px;
  height: 220px;
}
.content h6 {
  color: var(--Paragraph);
  width: 586px;
  height: 76px;
  margin-top: 18px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.home img {
  display: flex;
  width: 553.028px;
  height: 470.913px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 230px;
}

.home .link-btn {
  display: flex;
  padding: 10px 22px;
  align-items: flex-start;
  color: var(--white);
  margin-top: 30px;
  gap: 10px;
  width: 182px;
  height: 50px;
  border-radius: 5px;
  background: var(--orange);
  line-height: 30px;
}
