@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap");

:root {
  --white: #fff;
  --orange-background: #fff7f4;
  --orange: #ff5300;
  --black: #373737;
  --paragraph: #7b7b7b;
  --test: #63adc8;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Work Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

/* FROM TUTORIAL  */
body {
  font-family: var(--primary-font);
  overflow-x: hidden;
  width: 100%;
}

section {
  position: relative;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orange-bg {
  background-color: var(--orange-background);
}
.white-bg {
  background-color: var(--white);
}

header {
  background-color: var(--white);
  padding: 1rem 0;
  width: 100%;
  z-index: 1000;
  position: fixed;

  /* Effect-1 */
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.menu-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: var(--black);
  margin: 6px 0;
}
.header__menu {
  gap: 29px;
}
.header__menu li a {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  transition: color 0.3s;
}
.header__menu li a:hover {
  color: var(--orange);
}

.header__menu .btn-head {
  text-align: center;
  display: inline-block;
  padding: 10px 22px;
  align-items: flex-start;
  height: 50px;
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid var(--black);
}

/* HOME  */

#home {
  min-height: 53.125rem;
}
.home__content {
  width: 602px;
  height: 415px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.home__content h1 {
  color: var(--black);
  font-family: Poppins;
  font-size: 48.83px;
  font-style: normal;
  font-weight: 700;
  line-height: 73.2px; /* 149.908% */
  word-wrap: break-word;
}
.home__content p {
  height: 76px;
  color: var(--paragraph);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.home__img {
  width: 553.028px;
  height: 470.913px;
  justify-content: center;
  align-items: center;
}
.home__content a {
  color: var(--white);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.btn-home {
  text-align: center;
  width: 182px;
  height: 50px;
  padding: 10px 22px;
  border-radius: 5px;
  background: var(--orange);
}

/* 





OUR SERVICES 









*/
#service {
  min-height: 46.938rem;
  padding: 7.5rem 0rem;
}
.services-title_paragraph {
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: var(--orange);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.services-title_paragraph::before,
.services-title_paragraph::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  top: 15px;
  background-color: var(--orange);
  transform: translateY(-50%);
}
.services-title_paragraph::before {
  left: 0;
  margin-left: -60px;
}
.services-title_paragraph::after {
  right: 0;
  margin-right: -60px;
}

.services-title {
  font-family: Poppins;
  font-size: 39.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.59px;
  margin-bottom: 30px;
  color: var(--black);
}

.our-services__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-content: center;
}

.service-cards {
  padding: 30px 25px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-head img {
  width: 80px;
  height: 80px;
}
.card-head h1 {
  color: #efefef;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 73.2px;
}

.card-content h4 {
  color: var(--black);
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.5px;
  padding: 5px 25px 0px auto;
}

.card-content h6 {
  color: var(--paragraph);
  font-family: Poppins;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 300;
  line-height: 19.2px;
}
.card-content p {
  color: var(--paragraph);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  height: 77px;
}

/* 











ABOUT US  














*/

#about {
  height: 39.75rem;
  padding: 7.5rem 0rem;
}

.content-about {
  width: 602px;
  height: 415px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.about-title_paragraph {
  position: relative;
  white-space: nowrap;
  color: var(--orange);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.about-title_paragraph::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  top: 15px;
  background-color: var(--orange);
  transform: translateY(-50%);
}
.about-title_paragraph::after {
  left: 0;
  margin-left: 82px;
}
.about-title {
  font-family: Poppins;
  font-size: 39.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.59px;
  color: var(--black);
  height: 118px;
}
.about-content_paragraph {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  height: 77px;
  color: var(--paragraph);
}
.about-img {
  display: flex;
  width: 620.743px;
  height: 387.672px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.list {
  height: 102px;
  flex-shrink: 0;
  margin-top: 20px;
  flex-wrap: nowrap;
}
.list img {
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0 15px 15px 0px;
}
.list p {
  display: flex;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
}

/* 





OUR CASE STUDY 








*/

#casestudy {
  padding: 7.5rem 0rem;
}
.case-study_title {
  height: 98px;
  margin-bottom: 15px;
}

.cs_paragraph {
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: var(--orange);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}

.cs_paragraph::before,
.cs_paragraph::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  top: 15px;
  background-color: var(--orange);
  transform: translateY(-50%);
}
.cs_paragraph::before {
  left: 0;
  margin-left: 70px;
}
.cs_paragraph::after {
  right: 0;
  margin-right: 70px;
}

.cs-title {
  color: var(--black);
  font-family: Poppins;
  font-size: 39.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.59px;
}

.case-study_category {
  align-self: start;
  height: 60px;
  margin-bottom: 30px !important;
  margin: 0;
  padding: 0;
}

.cs-menu {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;

  gap: 20px;
  list-style: none;
}
.cs-menu .cs-list {
  display: flex;
  align-self: center;
}
.cs-menu .cstudy-active a {
  height: 60px;
  border-radius: 10px;
  background: var(--orange);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cs-list a {
  padding: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: var(--paragraph);
}
.cs-list a:hover {
  background-color: var(--orange);
  color: var(--white);
  border-radius: 10px;
}

.case-study_gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}
.case-study_gallery picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 390px;
  height: 313px;
  flex-shrink: 0;
  position: relative;
}

.cs-gallery_template {
  display: none;
  position: absolute;
  width: 266px;
  height: 230px;
  background: rgba(255, 83, 0, 0.75);
}
.cs-gallery_template p {
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.5px;
  color: var(--white);
}

#pic-1:hover .cs-gallery_template,
#pic-2:hover .cs-gallery_template,
#pic-3:hover .cs-gallery_template,
#pic-4:hover .cs-gallery_template,
#pic-5:hover .cs-gallery_template,
#pic-6:hover .cs-gallery_template,
#pic-7:hover .cs-gallery_template,
#pic-8:hover .cs-gallery_template,
#pic-9:hover .cs-gallery_template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* 






OUR TESTIMONIAL 







*/

#testimonial {
  padding: 7.5rem 0rem;
}
.our-testimonial_title {
  width: 462px;
  height: 98px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ot-testimonial_paragraph {
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: var(--orange);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}

.ot-testimonial_paragraph::before,
.ot-testimonial_paragraph::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  top: 15px;
  background-color: var(--orange);
  transform: translateY(-50%);
}
.ot-testimonial_paragraph::before {
  left: 0;
  margin-left: -50px;
}
.ot-testimonial_paragraph::after {
  right: 0;
  margin-right: -50px;
}

.ot-testimonial_title {
  color: var(--black);
  font-family: Poppins;
  font-size: 39.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.59px;
}
/* slider  */
.ot-testimetional_card {
  position: relative;
  margin-top: 60px;

  max-width: 1170px;
  height: 272px;
}

.swiper {
  padding: 0 15px !important;
}

.ot-card {
  flex: 0; /* Display max 3 cards in the slider */
  box-sizing: border-box;
  padding: 20px;
  justify-content: space-between;
  align-items: start;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.ot-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: var(--orange-background);
}

.prev-btn {
  left: 0;
  margin-left: -50px;
}
.prev-btn img:hover {
  content: url("/img/left2.png");
}

.next-btn {
  right: 0;
  margin-right: -50px;
}
.next-btn img:hover {
  content: url("/img/right2.png");
}

.review-stars {
  display: flex;
  width: 162px;
  height: 26px;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 15px;
}
.review-stars img {
  width: 25.92px;
  height: 26px;
  flex-shrink: 0;
  margin-top: 10px;
}
.ot-paragraph_card {
  width: 320px;
  height: 100px;
  flex-shrink: 0;
  color: var(--paragraph);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 25px;
}

.ot-profile_card {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.ot-profile_card img {
  width: 60px;
  height: 60px;
}
.ot-profile_name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: -50px;
}
.ot-profile_name h2 {
  color: var(--orange);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.ot-profile_name p {
  font-family: Poppins;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 300;
  line-height: 19.2px;
  color: var(--paragraph);
}

/* 




OUR CAPABILITIES  




*/

#capabilities {
  padding: 7.5rem 0rem;
}
.our-title_copabilities {
  display: flex;
  flex-direction: column;
}

.oc-box-1 {
  display: flex;
  align-items: self-start;
  flex-direction: column;
  width: 530px;
  height: 157px;
  flex-shrink: 0;
  margin-bottom: 18px;
}
.oc-title_paragraph {
  position: relative;
  white-space: nowrap;
  color: var(--orange);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}

.oc-title_paragraph::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  top: 15px;
  background-color: var(--orange);
  transform: translateY(-50%);
}
.oc-title_paragraph::after {
  right: 0;
  margin-right: -50px;
}

.oc-title {
  font-family: Poppins;
  font-size: 39.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.59px;
  color: var(--black);
}

.oc-box-2 {
  display: flex;
  flex-direction: column;
  width: 571px;
  height: 219px;
}

.oc-content_paragraph {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--paragraph);
  margin-bottom: 40px;
}
.work-capabilities_card {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 570px;
  height: 108px;
}

.oc-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 125px;
  height: 108px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--white);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.oc-card h1 {
  color: var(--orange);
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.5px;
}
.oc-card p {
  color: var(--black);
  text-align: center;
  font-family: Poppins;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 300;
  line-height: 19.2px;
}
.our-frame_copabilities {
  display: flex;
  width: 611.399px;
  height: 374.73px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 10px;
}
.our-frame_copabilities {
  width: 577.331px;
  height: 373.989px;
  flex-shrink: 0;
}

/* 






OUR PERFORMANCE  






*/

.our-performance {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 1171px;
  height: 273px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--orange);
  margin-bottom: 120px;
  position: relative;
}

.performance-box {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.performance-box h1 {
  color: var(--white);
  font-family: Poppins;
  font-size: 39.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.59px;
  margin-top: 4px;
}

.performance-box p {
  color: var(--white);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.performance-line::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 134px;
  background-color: var(--white);
  transform: translateY(-50%);
  top: 50%;
}
.performance-line::before {
  right: 0;
  margin-right: -100px;
}

/* OUR BLOG  */

#blog {
  height: 57rem;

  padding: 7.5rem 0rem;
}

.blog-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 608px;
  margin-bottom: 60px;
}

.ob-blog_paragraph {
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: var(--orange);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}

.our-blog_content {
  width: 1440px;
  height: 912px;
  margin: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ob-blog_paragraph::before,
.ob-blog_paragraph::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  top: 15px;
  background-color: var(--orange);
  transform: translateY(-50%);
}
.ob-blog_paragraph::before {
  left: 0;
  margin-left: -70%;
}
.ob-blog_paragraph::after {
  right: 0;
  margin-right: -70%;
}

.ob-blog_title {
  color: var(--black);
  font-family: Poppins;
  font-size: 39.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.59px;
}
.blog-post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-content: center;
}

.blog-01 {
  width: 370px;
  height: 544px;
  flex-shrink: 0;
  padding: 15px;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
.blog-01 .img-blog {
  width: 340px;
  height: 225px;
  flex-shrink: 0;
  border-radius: 10px;
  /* background: url(/img/blog1.png), lightgray 50% / cover no-repeat; */
  margin-bottom: 15px;
}

.blog-01 h1 {
  color: var(--black);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 18px;
}
.blog-01 .blog-paragraph {
  width: 338px;
  height: 71px;
  flex-shrink: 0;
  color: var(--paragraph);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.blog-btn {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--orange);
  color: var(--white);
}
.blog-btn a {
  color: var(--white);
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%;
}

.blog-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 325px;
  height: 20px;
  margin-bottom: 18px;
}

.blog-date_paragraph {
  display: flex;
  align-items: center;
  color: var(--black);
  font-family: "Work Sans";
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  gap: 5px;
}

.blog-date_paragraph img {
  width: 14px;
  height: 14px;
}

/* OUR SUBSCRIPTION  */
#subscription {
  height: 12.5rem;
  padding: 7.5rem 0rem;
}

.our-subscription {
  height: 200px;
  width: 1170px;
  justify-content: space-between;
  border-radius: 10px;
  background: var(--Orange, #ff5300);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 51px 0 51px 40px;
  margin: 120px 0px;
}
.sub-left {
  display: flex;
  flex-direction: column;
  width: 355px;
  height: 98px;
  gap: 15px;
}

.sub-title_paragraph {
  position: relative;
  white-space: nowrap;
  color: var(--white);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}

.sub-title_paragraph::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  top: 15px;
  background-color: var(--white);
  transform: translateY(-50%);
}
.sub-title_paragraph::after {
  right: 0;
  margin-right: 140px;
}

.sub-title {
  font-family: Poppins;
  font-size: 39.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.59px;
  color: var(--white);
}

.sub-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 642px;
  height: 70px;
  margin-right: 45px;
  border-radius: 5px;
  background: var(--white);
  padding: 5px;
}
.sub-input input {
  border-radius: 5px;
  background: var(--white);

  width: 400px;
  padding: 25px 24px;
}
.sub-input input::placeholder {
  color: var(--paragraph);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.sub-input .btn-submit {
  text-align: center;
  width: 222px;
  height: 60px;
  border-radius: 5px;
  background: var(--orange);
  color: var(--white);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  cursor: pointer;
}

/* 



OUR FOOTER 




*/
.bg-black {
  background-image: url(/img/Image-footer.png);
}
#footer {
  display: flex;
  flex-direction: column;
  height: 20.188rem;
  gap: 20px;
  padding: 3.125rem 0rem;
}

.company-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--white);
  width: 279px;
  height: 139px;
}
.company-about img {
  width: 175.186px;
  height: 46.939px;
}
.company-about p {
  width: 270px;
  height: 75px;
}
.our-footer h2 {
  color: var(--Orange, #ff5300);
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.5px;
}
.location {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 265px;
}
.location h4 {
  color: var(--white);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.call-us {
  width: 206px;
  height: 128px;
  display: flex;
  flex-direction: column;
}
.call-us h2 {
  margin-bottom: 20px;
}
.call-us h4 {
  color: var(--white);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}

.follow-us {
  width: 260px;
  height: 119px;
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.follow-us picture {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.top-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.bottom-footer {
  width: 100%;
  padding-top: 6px;
  border-top: 1px solid white;
  margin-top: 40px;
  padding: 25px 0;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}
.box-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 420px;
  height: 24px;
  gap: 100px;
}
.cp-text {
  display: flex;
  align-items: center;
  gap: 18px;
}
.box-2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 397px;
  height: 24px;
  gap: 30px;
}
.img-blank {
  display: flex;
  align-items: center;
}

.box-2 ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
}

.box-2 li {
  color: var(--white);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  padding: 3px 10px 3px 0px;
}
.box-2 img {
  padding: 3px 10px 3px 0px;
}
/* 






MEDIA QUERIES





*/

/* Small screens (less than 640px) */

@media screen and (max-width: 640px) {
  /* GLOBAL  */

  .container {
    padding: 0 1rem;
  }
  section {
    padding-top: 2rem !important;
    padding-bottom: 3rem !important;
  }

  /* HEADER  */

  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    transform: translateX(100%);
    transition: transform 0.3s;
  }
  .header__menu.show {
    transform: translateX(0);
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  /* HEADER END  */

  /* HOME  */
  #home {
    flex-direction: column;
    justify-content: center;
    padding: 6rem 0px;
  }
  .home__content h1 {
    font-size: 2.6rem;
    text-align: center;
    line-height: 53.2px;
  }
  .home__content p {
    font-size: 1.2rem;
    text-align: center;
    max-width: 100%;
    height: 90px;
  }
  .home__content .btn-home {
    margin: 0 auto;
  }
  .home__img {
    display: flex;
    width: 100%;
    height: 500px;
  }

  /* HOME END  */

  /* SERVICE  */

  .our-services__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    justify-content: center;
    padding: 0 1rem;
  }
  .service-cards {
    padding: 25px 20px;
    height: auto;
  }

  .card-content p {
    width: auto;
  }

  /* SERVICE END  */

  /* ABOUT  */
  #about {
    flex-direction: column;
    height: auto;
    gap: 2rem;
  }

  /* ABOUT END  */

  /* TESTIMETIONAL  */
  .ot-testimetional_card {
    max-width: 380px;
  }
  .next-btn {
    display: none;
  }
  .prev-btn {
    display: none;
  }

  /* CASE STUDY  */

  .case-study_category {
    align-items: center;
  }

  .cs-list a {
    font-size: 10px;
  }
  .cs-menu {
    gap: 1px;
    flex-wrap: wrap;
    padding: 0rem 1rem;
  }
  .case-study_gallery {
    grid-template-columns: repeat(1, 1fr);

    padding: 1rem 1rem;
  }
  .case-study_gallery picture {
    width: 100%;
    height: 100%;
  }

  /* CASE STUDY END  */

  /* CAPABILITIES  */

  #capabilities {
    flex-direction: column;
    gap: 2rem;
  }

  .our-performance {
    flex-direction: column;
    width: 350px;
    height: auto;
  }
  .performance-box {
    padding: 3rem;
  }
  .performance-line::before {
    display: none;
  }
  .performance-line::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 134px;
    background-color: var(--white);
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
  .performance-line::after {
    bottom: 0;
    margin-left: 33px;
  }

  /* OUR BLOG  */
  #blog {
    height: auto;
  }
  .blog-post {
    grid-template-columns: repeat(1, 1fr);
  }
  /* OUR SUBSCRIPTION  */
  #subscription {
    height: auto;
    padding: 0rem;
  }
  .our-subscription {
    flex-direction: column;
    height: 400px;
    width: auto;
    padding: 40px;
    gap: 20px;
  }
  .sub-input {
    justify-content: center;
    width: auto;
    margin-right: 0;
  }
  .sub-input input {
    width: 300px;
  }
  .sub-input .btn-submit {
    width: 130px;
  }
  .ob-blog_title {
    width: 365px;
    text-align: center;
  }
  /* OUR FOOTER  */

  #footer {
    height: auto;
    padding: 0;
    gap: 0;
  }

  .top-footer {
    display: flex;
    flex-direction: column;
  }
  .copyright {
    flex-direction: column-reverse;
    padding: 20px;
    gap: 30px;
  }
  .box-2 {
    width: auto;
    height: auto;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1008px) {
  /* Your styles for medium screens go here */
  .container {
    padding: 0 1rem;
  }
  section {
    padding-top: 2rem !important;
    padding-bottom: 3rem !important;
  }

  /* HEADER  */

  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    transform: translateX(100%);
    transition: transform 0.3s;
  }
  .header__menu.show {
    transform: translateX(0);
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  /* HOME  */
  #home {
    flex-direction: column;
    justify-content: center;
    padding: 6rem 0px;
  }
  /* OUR SERVICES  */
  .our-services__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    padding: 0 1rem;
  }
  .service-cards {
    width: auto;
  }

  /* ABOUT  */
  #about {
    flex-direction: column;
    height: auto;
    width: auto;
    gap: 2rem;
  }

  /* TESTIMETIONAL  */

  .ot-testimetional_card {
    max-width: 780px;
  }
  .next-btn {
    display: none;
  }
  .prev-btn {
    display: none;
  }

  /* CASE STUDY  */
  .case-study_category {
    align-self: center;
  }

  .cs-list a {
    font-size: 14px;
  }
  .cs-menu {
    gap: 10px;
  }
  .case-study_gallery {
    grid-template-columns: repeat(2, 1fr);

    padding: 0 1rem;
  }
  .case-study_gallery picture {
    width: 100%;
    height: 100%;
  }

  /* CAPABILITITES  */
  #capabilities {
    flex-direction: column;
    gap: 2rem;
  }
  .our-performance {
    flex-direction: column;
    width: 550px;
    height: auto;
  }
  .performance-box {
    padding: 3rem;
  }
  .performance-line::before {
    display: none;
  }
  .performance-line::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 134px;
    background-color: var(--white);
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
  .performance-line::after {
    bottom: 0;
    margin-left: 33px;
  }
  /* OUR BLOG  */
  #blog {
    height: auto;
  }
  .blog-post {
    grid-template-columns: repeat(1, 1fr);
  }
  /* OUR SUBSCRIPTION  */
  #subscription {
    height: auto;
    padding: 0rem;
  }
  .our-subscription {
    flex-direction: column;
    height: 400px;
    width: 700px;
    padding: 40px;
    gap: 20px;
  }
  .sub-input {
    justify-content: center;
    width: auto;
    margin-right: 0;
  }

  .ob-blog_title {
    width: 365px;
    text-align: center;
  }
  /* OUR FOOTER  */

  #footer {
    height: auto;
    padding: 0;
    gap: 0;
  }

  .top-footer {
    display: flex;
    flex-direction: column;
  }
  .copyright {
    flex-direction: column-reverse;
    padding: 20px;
    gap: 30px;
  }
  .box-2 {
    width: auto;
    height: auto;
  }
}
